*{
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(40, 39, 49);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: rgb(26, 25, 31);
    color: aliceblue;
}

#form{
    background-color: rgb(229, 238, 246);
    border: 2px solid black;
    padding: 16px 30px 50px;
    display: none;
    flex-direction: column;
    width: 500px;
    height: 320px;
    position: absolute;
    top: 200px;
    left: 400px;
    border-radius: 5px;
    z-index: 1;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form h1{
    padding-bottom: 20px;
}

input[type=text], input[type=number]{
    width: 70%;
    padding: 5px;
}

.end-form{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 30px;
}

#submit, .close-form{
    padding: 8px 26px;
    border-radius: 5px;
}

#library{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 100px 100px;
}

.book-card{
    position: relative;
    border: 1px solid black;
    background-color: rgb(187, 195, 202);
    border-radius: 5px;
    padding: 30px;
    width: 300px;
}

.book-card h1{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-card h2{
    font-weight: lighter;
    padding-bottom: 30px;
}

.book-card h3{
    font-weight: lighter;
    padding-bottom: 40px;
}

.book-card button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.finished-book{
    background-color: rgb(153, 249, 8);
}

.delete-button{
    background-color: rgb(211, 21, 21);
    color: antiquewhite;
    position: absolute;
    right: 30px;
}

